@{
    ViewData["Title"] = "Home Page";
}

<div id="testId">
    <h2>Hjertelig velkommen til naturstyrelsens varroatællingssystem for biavlere</h2>
    <img id ="imageId" src="images/bees.jpg"/>

</div>
